*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
 }
 .btn{background-color: #30b868;
   border: none;
   padding: 12.5px 16px;
   border-radius: 4px;
   font-weight: bold;
   font-size: 16px;
   color: white;

 }
 header{
    background-color: #FFFFFF;
    padding-top: 120px 16px;

 }

 nav {
    width: 80% ;
    max-width: 1280px;
    margin:0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    
 }
 logo { width: 139px;
    height: 60px;

 }
 nav .menu{
   display: flex;
   list-style-type: none;
   gap: 51px;
   align-items: center;
 }
 nav .menu a{
   font-size: 20px;
   color: #000000;
   text-decoration: none;
 }